<br><br>

<div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="./assets/s1.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Monday  (Legs And Abs)</h5>
      <p class="card-text">Legs And Abs
        After warming up the quads with leg extensions, Arnold went right into squats, which he favored as a mass-builder. "The squat increases the power, spring and speed of the legs," he said. "It increases the size of the thigh. When practiced with heavy breathing it permanently expands the rib cage ... With these multiple benefits the squat goes on record as being the best all-around exercise."
      </p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="./assets/s2.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Tuesday  (Shoulders And Arms)</h5>
      <p class="card-text">Shoulders And Arms with the same high-volume approach he employed with other body parts, ensuring that each deltoid head was targeted from different angles. Because multijoint presses from the front of the neck recruited the anterior (front) delts to a greater degree than behind-neck presses, he typically included both in his shoulder workout for maximal development</p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="./assets/s4.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Wednesday (Cardio)</h5>
      <p class="card-text">Cardio , you may think "necessary evil," but take a step back and withhold judgment for just a moment. As reluctant as you might be to hop on that treadmill—worried it'll be boring or that it'll zap your gains—give cardio a chance. When properly paired with weight training, a good cardio plan will lead you to an ideal world of fat loss and help you carve a great, shapely figure—which, of course, includes great glutes.</p>
    </div>
  </div>
</div>

<br><br>

<div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="./assets/s5.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Thursday  (yoga)</h5>
      <p class="card-text">The definition of yoga means "to yoke" or unite, and when paired with strength training, it is simply a match made in the stars. Strength training is a form of repetitive stress on your body, which is important, but it also needs to be balanced to provide its biggest benefits. Adding a bit of yoga into your daily routine can help you improve your focus and bodily control, train with better form, and recover better after you train.
        
      </p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="./assets/s6.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Friday (Biceps)</h5>
      <p class="card-text">Biceps,This exercise also stretches the long head of the biceps. The more horizontal the bench during your workout, the more the long head of the muscle will be stretched during reps.

        These are awesome to add into your isolation workout because they truly isolate the biceps muscle! </p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="./assets/s7.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Saturday  (Chest)</h5>
      <p class="card-text">how to make it work for your chest.

        Brandon demonstrates how to use time under tension while performing the incline dumbbell chest fly, pausing just before his arms reach the top.
        
        As he explains, "when you reach the top, it's actually going to deactivate the muscle because there's not really any tension on the muscle itself anymore because it's not going through any kind of motion or contraction.".</p>
    </div>
  </div>
</div>