<div class="card text-center">
    <div class="card-header">
      
    </div>
    <div class="card-body">
      <h5 class="card-title">About Us</h5>
      <p class="card-text">Royal Gym India is acknowledged for its unrivalled success in providing the finest equipment and fitness knowledge available to help its members achieve their individual potential. It follows a globally proven fitness training module with state-of-the-art infrastructure and delivery methodology and continuous up gradation through training programs. With certified trainers and nutritional counseling,
         Royal Gym provides a comprehensive approach to the health and well-being of its member.</p>
      <a href="#" class="btn btn-primary">Back To Home</a>
    </div>
  </div>
<br><br>
<div class="card mb-3">
    <img class="card-img-top" src="./assets/trust.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Absolutely Trusted</h5>
      <p class="card-text">Being a trusted partner is an integral reason our customers continue to do business with us. The success of such partnerships is dependent on honesty, respect 
        and good communications - all values our entire company takes extremely seriously.</p>
      
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Customer Success</h5>
      <p class="card-text">Customer Success isn’t just a department at BookingBug. It is a core company ethos, spanning all regions, but customer success is in the hands of every member of the company. So whether it’s the Salesperson who discusses a possible project, the Finance team who send the invoice or the developer who writes your code, 
        we all know that the quality of our work has a direct correlation to ensuring customer delight.</p>
   
    </div>
    <img class="card-img-bottom" src="./assets/cs.jpg" alt="Card image cap">
  </div>

  <br>
  <div class="card mb-3">
      <img class="card-img-top" src="./assets/seq.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Security</h5>
        <p class="card-text">Security is another core pillar of BookingBug. We are ISO 27001 certified and with our heritage in the financial services and government industries, data security is at the heart of everything we do. All staff are fully trained to be compliant with our own stringent data security protocols and our policy is rigidly adhered to with the help of our Information Security department. As part of ISO 27001 we have to review and audit all documentation on an 
            annual basis to ensure relevancy to how we evolve as a business.</p>
      </div>
   </div>

    <!--Footer-->
<footer class="page-footer font-small mdb-color lighten-3 pt-4 mt-4">

    <!--Footer Links-->
    <div class="container text-center text-md-left">
        <div class="row my-4">

            <!--First column-->
            <div class="col-md-4 col-lg-3">
                <h5 class="text-uppercase mb-4 font-weight-bold">ROYAL GYM </h5>
                <p>Royal Gym India is acknowledged for its unrivalled success in providing the finest equipment and fitness knowledge available to help its members achieve their individual potential. It follows a globally proven fitness training module with state-of-the-art infrastructure and delivery methodology and continuous up gradation through training programs. With certified trainers and nutritional counseling,
                   </p>
            </div>
            <!--/.First column-->

            <hr class="clearfix w-100 d-md-none">

            <!--Second column-->
            <div class="col-md-2 col-lg-2 ml-auto">
                <h5 class="text-uppercase mb-4 font-weight-bold">About</h5>
                <ul class="list-unstyled">
                    <p>
                        <a href="contactus">CONTACT US</a>
                    </p>
                    <p>
                        <a href="aboutus">ABOUT US</a>
                    </p>
                    <p>
                        <a href="#!">BLOG</a>
                    </p>
                </ul>
            </div>
            <!--/.Second column-->

            <hr class="clearfix w-100 d-md-none">

            <!--Third column-->
            <div class="col-md-4 col-lg-3">
                <h5 class="text-uppercase mb-4 font-weight-bold">Address</h5>
                <!--Info-->
                <p>
                    <i class="fa fa-home mr-3"></i>H.NO-113,Dada Colony</p>
                <p>
                    <i class="fa fa-envelope mr-3"></i>Pankajroyal67@gmail.com</p>
                <p>
                    <i class="fa fa-phone mr-3"></i>+91-9646236169</p>
                
        
            </div>
            <!--/.Third column-->

            <hr class="clearfix w-100 d-md-none">

  

        </div>
    </div>
    <!--/.Footer Links-->

    <!--Copyright-->
    <div class="footer-copyright py-3 text-center">
        © 2018 Copyright:P@NKAJ ROY@L